<a data-tgt="#proj<%= project.id %>" class="card boxshdw cardimg w<%= project.cardtype %> <%= tagClasses%>">
    <div class="displayPriority<%= project.cardtype %>">
        <div class="card-nested card-img">
        <% if(project.visuals.img.length == 0){ %>

            <img src="https://imgportfolio.s3.amazonaws.com/pinoquio.jpg" alt="default img" />

        <% }else{ %>

            <img src="<%= project.visuals.img[0].url %>" alt="<%= project.visuals.img[0].name %>" />

        <% } %>
        </div>
        <div class="card-nested card-title">
            <h3><%= project.title %></h3>
        </div>
        <!--<div class="card-nested card-footer">
            <p>I mean, who wouldn't love him?</p>
        </div>-->
    </div>
    <% if(project.cardtype == 2) { %>
    <div class="bigVisible">
        <div class="right_part">
            <div class="card-2 card-nested card-img">
                <% if(project.visuals.img.length == 0){ %>

                    <img src="https://imgportfolio.s3.amazonaws.com/pinoquio.jpg" alt="default img" />

                <% }else{ %>

                    <img src="<%= project.visuals.img[0].url %>" alt="<%= project.visuals.img[0].name %>" />

                <% } %>
                <!--
                    <img src="https://disneyfinds.files.wordpress.com/2014/06/donald-duck-poster.jpg" alt="Sample img" />
                -->
            </div>
        </div>
        <div class="left_part">
            <div class="card-2 card-nested card-title">
                <h3><%= project.title %></h3>
            </div>
            <div class="tags">
            <% for(tag in project.tags){ %>
                <div class="tag">
                    <span class="tag-text"><%= project.tags[tag] %></span>
                </div>
            <% } %>
            </div>
            <div class="card-2 card-nested card-footer">
                <p>
                    <%= project.description %>
                </p>
            </div>
        </div>
        
    </div>
    <% } %>
    <% if(project.cardtype == 3) { %>
    <div class="bigVisible">
        <div class="big_right_part visuals">
            <!--<div class="card-2 card-nested card-img">
                <img src="https://disneyfinds.files.wordpress.com/2014/06/donald-duck-poster.jpg" />
            </div>-->

            <% include slider %>
        </div>
        <div class="big_left_part">
            <div class="card-2 card-nested card-title">
                <h3><%= project.title %></h3>
            </div>
            <div class="tags">
            <% for(tag in project.tags){ %>
                <div class="tag">
                    <span class="tag-text"><%= project.tags[tag] %></span>
                </div>
            <% } %>
            </div>
            <div class="card-2 card-nested card-footer">
                <p>
                    <%= project.description %>
                </p>
            </div>
        </div>
        
    </div>
    <% } %>
</a>

<div id="proj<%= project.id %>" class="overlay" data-projID="<%= project.id %>">
    <div class="popup subgrid">
        <div class="popup_title">
            <%if (logStatus) { %>
                <div class="group">      
                   <input type="text" required  id="projectTitle" value="<%= project.title %>">
                   <span class="highlight"></span>
                   <span class="bar"></span>
                   <label>Card Title</label>
                </div>
            <% }else{ %>
                <h2><%= project.title %></h2>
            <% } %> 
            <button class="roundButtom md-btn-raised md-btn-ripple close">x</button>
        </div>
        
        
        <div class="content">
            <div class="visuals">
                <% include slider %>
                <div class="tags">
                    <%if (logStatus) { %>

                        <div class="seach_box">
                          <div class="select_holder">
                             <select id="srchProj<%= project.id %>" class="search" multiple>
                                <option data-placeholder="true"></option>
                                <% for(tag in tags) { %>
                                    <% if(project.tags && tag in project.tags){ %>
                                        <option value="<%= tag %>" selected><%= tags[tag] %></option>
                                    <% }else{ %>
                                        <option value="<%= tag %>" ><%= tags[tag] %></option>
                                    <% } %>
                                   
                                <% } %>
                             </select>
                          </div>
                        </div>
                        <button class="roundButtom md-btn-raised md-btn-ripple addTag">+</button>
                        
                    <% }else{ %>
                        <% for(tag in project.tags){ %>
                            <div class="tag">
                                <span class="tag-text"><%= project.tags[tag] %></span>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <div class="description">
                <%if (logStatus) { %>
                    <textarea id="projectDescription" class="inputDescription" placeholder="Description...">
                        <%= project.description %>
                    </textarea>
                <% }else{ %>

                    <p>
                        <%= project.description %>
                    </p>

                <% } %>
            </div>
            <div class="inDepth">
                <%if (logStatus) { %>
                    <textarea id="projectContent" class="inputContent" placeholder="Content...">
                        <%= project.content %>
                    </textarea>
                <% }else{ %>

                    <p>
                        <%= project.content %>
                    </p>

                <% } %>
            </div>

            <%if (logStatus) { %>

                <div class="extraInfo">
                    <div class="mdl-selectfield selectGroup">
                        <select class="selectEL" id="projectCardType">
                            <% if(project.cardtype == 1) { %>
                                <option value="1" selected="selected" selected>Single</option>
                                <option value="2">Double</option>
                                <option value="3">Triple</option>
                            <% } else if(project.cardtype == 2){ %>
                                <option value="1" >Single</option>
                                <option value="2" selected="selected" selected>Double</option>
                                <option value="3">Triple</option>
                            <% } else {%>
                                <option value="1" >Single</option>
                                <option value="2" >Double</option>
                                <option value="3" selected="selected" selected>Triple</option>
                            <% } %>
                        </select>
                    </div>
                    
                    <div class="group">      
                       <input type="text" required  id="projectOrder" value="<%= project.cardorder %>">
                       <span class="highlight"></span>
                       <span class="bar"></span>
                       <label>Order</label>
                    </div>

                    <div class="formButtons">
                        
                        <button class="md-btn-raised md-btn-ripple deleteProjectForm">
                           Delete
                         </button>

                        <button class="md-btn-raised md-btn-ripple submitProjectForm">
                           Save
                         </button>

                    </div>

                    

                </div>

            <% } %>

        </div>
    </div>
</div>
<!-- Visuals Form -->
<div id="visuals<%= project.id %>" data-reposition="no" class="overlay visualsForm">
    <div class="popup subgrid">

      <div class="popup_title">
          <h2>Visuals</h2>
         <button class="roundButtom md-btn-raised md-btn-ripple close" data-reposition="no">x</button>
     </div>
     
     
     <div class="content">
         <div class="inDepth">
            <div id="">
                <div class="images">
                    <h2>Images</h2>
                    <div class="existingImgs">
                    <% for(var im = 0; im < project.visuals.img.length; im++){ %>
                        <div class="imgWrapper">
                            <h3><%= project.visuals.img[im].name %></h3>
                            <button class="roundButtom md-btn-raised md-btn-ripple deleteVis" data-visId="<%= project.visuals.img[im].id %>">-</button>
                        </div>
                    <% } %>
                    </div>
                    <div class="img-forms">
                        <input class="imageInput" type="file" data-projId="<%= project.id %>">
                    </div>

                    <div class="roundButtomHolder">
                        <button class="roundButtom md-btn-raised md-btn-ripple oneMoreImg">+</button>
                    </div>
                </div>

                <div class="videos">
                    <h2>Videos</h2>
                    <div class="existingImgs">
                    <% for(var vd = 0; vd < project.visuals.vid.length; vd++){ %>
                        <div class="imgWrapper">
                            <h3><%= project.visuals.vid[vd].name %></h3>
                            <button class="roundButtom md-btn-raised md-btn-ripple deleteVis" data-visId="<%= project.visuals.vid[vd].id %>">-</button>
                        </div>
                    <% } %>
                    </div>
                    <div class="vid-forms">
                        <!--
                        <div class="newVidWrapper" data-projId="<%= project.id %>">
                            <p class="error"></p>
                            <div class="group individualVideoForm extra" >      
                                <input type="text" required class="vidElement" data-projId="<%= project.id %>">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Youtube link</label>
                            </div>

                            <div class="group individualVideoForm extra" >      
                                <input type="text" required class="vidDescription">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Description</label>
                            </div>

                        </div>
                        -->
                    </div>

                    <div class="roundButtomHolder">
                        <button class="roundButtom md-btn-raised md-btn-ripple oneMoreVid">+</button>
                    </div>
                </div>

            </div>

            <div class="extraInfo">
              
              <div class="formButtons">
                <button class="md-btn-raised md-btn-ripple submitNewVidsForm">
                Save
                </button>
              </div>
              
            </div>

         </div>
    </div>

    <div class="repository">
       
       <div style="display: none;" class="newVidWrapper" id="extraVidForm" data-projId="<%= project.id %>">
        <p class="error"></p>
        <div class="group individualVideoForm extra" >      
            <input type="text" required class="vidElement" data-projId="<%= project.id %>">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Youtube link</label>
        </div>

        <div class="group individualVideoForm extra" >      
            <input type="text" required class="vidDescription">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Description</label>
        </div>

      </div>

      <input style="display: none;" class="imageInput" type="file" data-projId="<%= project.id %>" id="extraImgForm">

    </div>

   </div>
</div>



