
<% for(var i = 0; i < projects.length; i++){ %>
    <% var project = projects[i] %>
    <% var tagClasses = "" %>
    <% for(tag in project.tags){ %>
        <% tagClasses = tagClasses + " tag" + project.tags[tag] %>
    <% } %>
    <% include card %>
<% } %>
