<header class="">
   <div class="logo_box logo_grid">
      <div class="left">
         <!--<p class="logo">H.<br>Calixto</p>-->
         <img src="img/hne.svg" alt="Name logo">
      </div>
      <div class="right">
         <!--<p class="logo"><span class="big">P</span><span class="cont">ortifolio</span></p>-->
         <img src="img/ptf.svg" alt="Portifolio">
      </div>
   </div>

   <div class="seach_box">
      <div class="select_holder">
         <select id="search" class="search projectsFilter" multiple>
            <option data-placeholder="true"></option>
            
            <% for(tag in tags) { %>
               <option value="<%= tag %>"><%= tags[tag] %></option>
            <% } %>

            <!--
            <option value="c">C</option>
            <option value="java">Java</option>
            <option value="c++">C++</option>
            <option value="c#">C#</option>
            <option value="python">Python</option>
            <option value="sql">SQL</option>
            <option value="web">Web</option>
            <option value="unity">Unity</option>
            <option value="php">php</option>
            -->
         </select>
      </div>
   </div>

   <div class="login_box">
      <%if (logStatus) { %>
         <p class="greating">Hi, <%= user.name %></p>
         <button class="md-btn-raised md-btn-ripple" id="logOutBtn">
           Log out
         </button>
      <% }else{ %>
      <div class="collapsable" id="loginForm">
         <form>
            <p class="submissionError" id="logInError"></p>
            <div class="group">      
               <input type="text" required  id="logInEmail">
               <span class="highlight"></span>
               <span class="bar"></span>
               <label>Email</label>
            </div>

            <div class="group">      
               <input type="password" required  id="logInPassword">
               <span class="highlight"></span>
               <span class="bar"></span>
               <label>Password</label>
            </div>
         </form>
      </div>
      <button class="md-btn-raised md-btn-ripple" id="logInBtn" data-status="closed">
        Log in
      </button>
      <div class="collapsable" id="loginCancel">
         <button class="md-btn-raised md-btn-ripple" id="logInCancelBtn">
           Cancel
         </button>
      </div>
      <% } %>
   </div>
</header>
<div class="headerBackGround"></div>
<div class="floatingButtonHolder headerButton">
   <button class="roundButtom md-btn-raised md-btn-ripple showHeader">&#9776</button>
</div>