<header class="">
   <div class="logo_box logo_grid">
      <div class="left">
         <p class="logo">H.<br>Calixto</p>
      </div>
      <div class="right">
         <p class="logo"><span class="big">P</span><span class="cont">ortifolio</span></p>
      </div>
   </div>

   <div class="seach_box">
      <div class="select_holder">
         <select id="search" multiple>
            <option data-placeholder="true"></option>
            <option value="c">C</option>
            <option value="java">Java</option>
            <option value="c++">C++</option>
            <option value="c#">C#</option>
            <option value="python">Python</option>
            <option value="sql">SQL</option>
            <option value="web">Web</option>
            <option value="unity">Unity</option>
            <option value="php">php</option>
         </select>
      </div>
   </div>

   <div>
      <form class="CreateUser">
         <h1>Create a new user</h1>
         <input type="text" class="email" placeholder="email">
         <input type="password" class="password" placeholder="password">
         <input type="text" class="name" placeholder="name">
         <input type="integer" class="access" placeholder="access">
         <input type="submit" class "usersub" value="Create user">
      </form>
   </div>

   <div>
      <form class="CreateProject">
         <h1>Create a new project</h1>
         <input type="text" class="title" placeholder="title">
         <textarea name="description" class="description" form="CreateProject">Enter text here...</textarea>
         <textarea name="content" class="content" form="CreateProject">Enter text here...</textarea>
         <input type="integer" class="cardtype" placeholder="card type">
         <input type="integer" class="cardorder" placeholder="card order">
         <input type="submit" class "projsub" value="Create project">
      </form>
   </div>

   <div>
      <form class="CreateTag">
         <h1>Create a new tag</h1>
         <input type="text" class="tagname" placeholder="tag">
         <input type="submit" class "tagsub" value="Create tag">
      </form>
   </div>

   <div>
      <form class="CreateProjectTag">
         <h1>Create a new project tag</h1>
         <input type="text" class="projId" placeholder="projId">
         <input type="text" class="tagId" placeholder="tagId">
         <input type="submit" class "projtagsub" value="Create tag">
      </form>
   </div>

   <!--
   <div>
   <input type="file" class="elemselect" id="imgupload">
   <a href="#" onclick="$('#imgupload').trigger('click'); return false;">Upload file</a>
   </div>
   -->

   <div>
      <form>
       <input type="file">
      </form>
      <script>
        $(":file").change(function(){
          alert($(":file").val());
        });
      </script>
   </div>

   <div>
      <form class="CreateVisual">
         <h1>Create a new visual</h1>
         <input type="text" class="imgprojId" placeholder="projId">
         <input type="text" class="visDesc" placeholder="visDesc">
         <input type="text" class="element" placeholder="element">
         <input type="text" class="type" placeholder="type">
         <input type="submit" class "projtagsub" value="Create tag">
      </form>
   </div>

   <div>
    <h1>Edit your account</h1>

    <hr>

    <h2>Your avatar</h2>

    <input type="file" id="file-input">
    <p id="status">Please select a file</p>
    <img style="border:1px solid gray;width:300px;"  id="preview" src="/images/default.png">

    <h2>Your information</h2>

    <form method="POST" action="/save-details">
      <input type="hidden" id="avatar-url" name="avatar-url" value="/images/default.png">
      <input type="text" name="username" placeholder="Username"><br>
      <input type="text" name="full-name" placeholder="Full name"><br><br>

      <hr>
      <h2>Save changes</h2>

      <input type="submit" value="Update profile">
    </form>
</div>

    <script>
    /*
      Function to carry out the actual PUT request to S3 using the signed request from the app.
    */
    function uploadFile(file, signedRequest, url){
      const xhr = new XMLHttpRequest();
      xhr.open('PUT', signedRequest);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            document.getElementById('preview').src = url;
            document.getElementById('avatar-url').value = url;
          }
          else{
            alert('Could not upload file.');
          }
        }
      };
      xhr.send(file);
    }
    /*
      Function to get the temporary signed request from the app.
      If request successful, continue to upload the file using this signed
      request.
    */
    function getSignedRequest(file){
      const xhr = new XMLHttpRequest();
      xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            const response = JSON.parse(xhr.responseText);
            uploadFile(file, response.signedRequest, response.url);
          }
          else{
            alert('Could not get signed URL.');
          }
        }
      };
      xhr.send();
    }
    /*
     Function called when file input updated. If there is a file selected, then
     start upload procedure by asking for a signed request from the app.
    */
    /*
     Function called when file input updated. If there is a file selected, then
     start upload procedure by asking for a signed request from the app.
    */
    /*function initUpload(){
      const files = document.getElementById('file-input').files;
      const file = files[0];
      if(file == null){
        return alert('No file selected.');
      }
      getSignedRequest(file);
    }*/
    /*
     Bind listeners when the page loads.
    */
    (() => {
      document.getElementById("file-input").onchange = () => {
        const files = document.getElementById('file-input').files;
        const file = files[0];
        if(file == null){
          return alert('No file selected.');
        }
        getSignedRequest(file);
      };
    })();
    </script>

   <div class="login_box">
      <%if (logStatus) { %>
         <p class="greating">Hi, <%= user.name %></p>
         <button class="md-btn-raised md-btn-ripple" id="logOutBtn">
           Log out
         </button>
      <% }else{ %>
      <div class="collapsable" id="loginForm">
         <form class="Login">
            <p class="submissionError" id="logInError"></p>
            <div class="group">      
               <input type="text" required  id="logInEmail">
               <span class="highlight"></span>
               <span class="bar"></span>
               <label>Email</label>
            </div>

            <div class="group">      
               <input type="password" required  id="logInPassword">
               <span class="highlight"></span>
               <span class="bar"></span>
               <label>Password</label>
            </div>
         </form>
      </div>
      <button class="md-btn-raised md-btn-ripple" id="logInBtn" data-status="closed">
        Log in
      </button>
      <div class="collapsable" id="loginCancel">
         <button class="md-btn-raised md-btn-ripple" id="logInCancelBtn">
           Cancel
         </button>
      </div>
      <% } %>
   </div>
</header>