
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- SlimSelec - http://slimselectjs.com -->
<script src="js/slimselect.min.js"></script>
<link href="css/slimselect.css" rel="stylesheet">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poiret+One|Source+Code+Pro" rel="stylesheet">
<!-- JS -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/home.js"></script>
<script src="app.js"></script>
<title>Portifolio</title>
